// Imports
@import "../../tools/mixins/mixins.scss";
@import "../../tools/themes/themes.scss";
@import "../../tools/variables/variable.scss";

// Fonts
@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies-database/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies-database/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies-database/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "Open Sans Medium";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies-database/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("https://raw.githubusercontent.com/dynamicwebtech/client_CDNS/main/dynamic-web-technologies-database/fonts/OpenSans-Regular.ttf");
}
// Desktop
.create_user_top {
  display: block;
  text-align: center;

  .create_user_top_inner {
    img {
      max-width: 600px;
      width: 100%;
      @include quickCenter("relative");
    }

    h1 {
      font-family: "Open Sans Extra Bold";
      display: block;
      margin-top: 20px;
      margin-bottom: 70px;
      font-size: $Logo;
      color: $MineShaft;
      opacity: 0.8;
    }
  }
}

// Responsive
@media all and (max-width: 1995px) {
  .create_user_top {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media all and (max-width: 991px) {
  .create_user_top {
    padding-left: 30px;
    padding-right: 30px;

    .create_user_top_inner {
      img {
        max-width: 500px;
      }

      h1 {
        font-size: clamp(26px, 30px, 30px);
        margin-bottom: 40px;
      }
    }
  }
}

@media (min-width: 992px) {
}

// Desktop Window (Smallest)
@media all and (max-width: 768px) {
  .create_user_top {
    padding-left: 15px;
    padding-right: 15px;

    .create_user_top_inner {
      img {
        max-width: 400px;
      }

      h1 {
        font-size: clamp(21px, 26px, 26px);
        margin-bottom: 30px;
      }
    }
  }
}

// Smaller Devices (Phones)
@media all and (max-width: 419px) {
  .create_user_top {
    padding-top: 60px;
    padding-left: 30px;
    padding-right: 30px;

    .create_user_top_inner {
      img {
        max-width: 300px;
      }

      h1 {
        font-size: clamp(19px, 20px, 20px);
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

// Pixel 2 XL
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .create_user_top {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 370px;
      }

      h1 {
        font-size: clamp(20px, 22px, 22px);
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

// Ipad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .create_user_top {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 470px;
      }

      h1 {
        font-size: clamp(25px, 30px, 30px);
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .create_user_top {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 370px;
      }

      h1 {
        font-size: clamp(20px, 22px, 22px);
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}

// iPad Pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .create_user_top {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 470px;
      }

      h1 {
        font-size: clamp(25px, 30px, 30px);
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .create_user_top {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 470px;
      }

      h1 {
        font-size: clamp(25px, 30px, 30px);
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}

// Laptops
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .create_user_top {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

    .create_user_top_inner {
      img {
        max-width: 470px;
      }

      h1 {
        font-size: clamp(25px, 30px, 30px);
        margin-top: 20px;
        margin-bottom: 50px;
      }
    }
  }
}
